.component1_heading
{ 
    color: brown;
    margin-bottom: 1em;
    
}

@media only screen and (max-width:500px){

    .component1_heading
    {
        font-size: 15px;
    }

    .alert_id{
        font-size: 8px!important;
        padding: 0.35rem 1rem!important;
    }

}